<h3>Determine your change equivalent</h3>
<form action="/display">
  <label for "number">Enter a number</label>
  <input id="number" name="number" type="text">

  <button type="submit">Calculate</button>
</form>
